

@*Buttons STARTS*@
<div class="pull-right">
    <button class="btn btn-default  cancelSave_button edit_buttons" type="reset">
        Cancel
        <span class="glyphicon glyphicon-remove edit_buttons"></span>
    </button>
    <button type="submit" class="btn btn-info  save_button edit_buttons" id="@Html.DisplayFor(model => model)">
        Save
        <span class="glyphicon glyphicon-save "></span>
    </button>

    <button class="btn btn-success  edit_button" type="button">
        Edit
        <span class="glyphicon glyphicon-edit "></span>
    </button>
</div>

@*Buttons ENDS*@